body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   padding-top: 6%;
 }
 
 h6{
    font-size: 12;
    font-weight: 700;
 }
 
 p{
    font-size: 12px;
    font-weight: 300;
 }

  /* Header */

  .logoheader{
   align-items: left;
   padding: 14px;
}

#header{
   display: flex;
   flex-direction: row;
   justify-content: center;
   position: fixed;
   top: 0;
   padding-top: 15px;
   width: 100%;
   z-index: 1000;
}

.navbar{
   --bs-navbar-toggler-border-color:none !important;
   box-shadow: none !important;
   justify-content: center !important;
}

.navbar-toggler:focus{
   box-shadow: none !important;
}

.header-text{
   font-size: 12px !important;
   font-weight:700px !important;
   color: #283618 !important;
   background-color: rgba(255, 255, 255, 0.46);
}

.header-text ul{
   align-self: auto;
   align-items: center;
}

.header-text ul li{
   margin: 0;
}


.pagina-actual{
   display: flex;
   flex-direction: column;
   font-weight: bolder;
   background-color: #bc6b2586;
   border-style: solid;
   border-color: #283618;
   border-width: 1px;
   padding-left: 10%;
   padding-right: 10%;
}

.icono1{
   display: flex;
   justify-content: flex-end;
}

.iconos-des{
   display: flex;
   flex-direction: row;
}

.iconos-des .icono1{
   margin-right: 5px;
}


@media (min-width:990px){
   .iconos-des{
      display: none;
   }

   .pagina-actual{
      padding-left: 0%;
      padding-right: 0%;
   }
}

@media (max-width:990px) {
   .col1{
      display: none;
   }

   .col3{
      display:none
   }

   body{
      padding-top: 10%;
   }
}

 /* Shop */

 .slogan-box{
   flex-wrap: nowrap;
 }

 .slogan{
   font-family: 'Bebas Neue', sans-serif;
   display: flex;
   justify-content: center;
}

.slogan h5{
   font-size: 20px;
   color: #BC6C25;
   float: left;
   padding-right: 2.2%;
   text-align: center;
}

.cuatro{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}


 /* Card */
.row{
   --bs-gutter-x:0rem;
}

 .card{
   --bs-card-border-width: none !important;
   --bs-card-border-radius: none !important;
   --bs-card-inner-border-radius: none !important;
 }

 /* foto overlay */

 .image-container{
    position: relative;
    width: 100%;
 }

 .image-container img{
    max-width: 100%;
    height: auto;
    display: block;
 }

 .card-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Inicialmente transparente */
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: left;
    opacity: 0;
 }

 .card-img-overlay h5{
   font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 2px;
 }

 .card-img-overlay p{
   font-size: 25px;
    font-weight: 700;
    color: black;
    margin-bottom: 2px;
 }

 .grande h5{
   font-size: 21px;
    font-weight: 400;
    color: black;
    margin-bottom: 2px;
 }

 .grande p{
   font-size: 30px;
    font-weight: 700;
    color: black;
    margin-bottom: 2px;
 }

 .image-container:hover .card-img-overlay {
    background-color: #fefae090; /* Color de fondo con opacidad al pasar el cursor */
    opacity: 1;
}


 /* Footer */

footer{
   margin: 0;
   background-color: #283618;
   color:white;
   padding-bottom: 0px !important;
}

.py-5{
   padding-bottom: 0px !important;
}

.suscribir{
   background-color:#283618;
   color:white;
   border-color: white;
   --bs-btn-color: #fff;
    --bs-btn-bg: #283618;
    --bs-btn-border-color: #283618;
    --bs-btn-hover-color: #283618;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #283618;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #283618;
    --bs-btn-active-border-color: white;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #283618;
    --bs-btn-disabled-border-color: white;
}

.form{
   flex-direction: column !important;
}

.newsletter{
   padding-right: 70px;
   margin-left: 0;
}

.f-link{
   color: white !important;
   font-size:11px ;
   font-weight: 200;
   padding-top: 8px !important;
}

.logofooter{
  margin-top: 2.5%;
}



/* Slogan */

@media (min-width: 1200px){
   .slogan h5 {
      font-size: 20px;
   }
} 

@media (max-width: 992px){
   .slogan h5 {
      font-size: 15px;
   }
}

@media (max-width: 768px){
   .slogan h5 {
      font-size: 10px;
   }
}

@media (max-width: 576px){
   .slogan h5 {
      font-size: 7px;
   }
}




